*{
    padding: 0;
    margin: 0;
}
.bloco{
    width: 300px;
    padding: 1rem;
    margin: 0.7rem 0.2rem;
    height: 3rem;
    color: white;
}
#bloco-1{
    background-color: rgb(230, 152, 7);
    border: 0.5rem solid rgb(238, 174, 56);
}
#bloco-2{
    background-color: rgb(75, 142, 96);
    border: 0.5rem solid rgb(106, 186, 134);
}
#bloco-3{
    background-color:rgb(33, 85, 57) ;
    border: 0.5rem dashed rgb(100, 200, 118);
}
#bloco-4{
    background-color: rgb(223, 12, 12);
    border: 0.5rem dashed rgb(233, 129, 129);
}
main{
    font-style: helvetica;
}